/* Width Re-size */
@media screen and (max-width: 1200px) {
    .settings-wrapper {
        width: 800px;
    }
    .key-setting {
        margin: 0 10px;
    }
}

@media screen and (max-width: 850px) {
    aside {
        display: none;
    }

    .header-class {
        justify-content: center;
    }

    .header-class h1 {
        margin: 0 100px;
    }
    
    .header-class h4 {
        margin: 0 100px;
    }
        
}

/* @media screen and (max-height: 750px) {
    .header-class {
        font-size: 10px;
    }
} */