@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --color-1: #ff0000;
    --color-2: #ff6600;
    --color-3: #eec900;
    --color-4: #00ff00;
    --color-5: #66ccff;
    --color-6: #0000ff;
    --color-7: #cc00ff;
}

body {
    background-color: #2d305e;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 98vw;
    position: relative;
}

#game-box {
    border: 2px solid white;
    border-radius: 15px;
    height: 1063px;
    width: 590px;
    background-color: #0d1a47;
    overflow: hidden;
}

main {
    text-align: center;
    margin-bottom: 100px;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    font-size: 18px;
    width: 98vw;
}

.header-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    color: white;
    text-align: center;
}

.header-class h1 {
    margin-bottom: 0;
}

.header-class h4 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 15px;
    color: #f8ff73;
}

aside {
    align-self: start;
    margin-top: 50px;
    text-align: center;
}

aside h3 {
    margin-top: 0;
    font-size: 30px;
    padding: 15px;
    margin-bottom: 0;
    background-color: white;
    border-radius: 15px 15px 0 0;
    color: #1b3b6f;
}

section {
    display: flex;
    flex-direction: row;
}

.cell {
    height: 57px;
    width: 57px;
    border: 1px solid transparent;
}

.small-grid {
    border: 2px solid white;
    border-radius: 0 0 15px 15px ;
    padding: 5px;
}

.small-cell {
    height: 28px;
    width: 28px;
    border: 1px solid transparent;
}

.red {
    background-color: var(--color-1);
}

.orange {
    background-color: var(--color-2);
}

.yellow {
    background-color: var(--color-3);
}

.green {
    background-color: var(--color-4);
}

.light-blue {
    background-color: var(--color-5);
}

.blue {
    background-color: var(--color-6);
}

.magenta {
    background-color: var(--color-7);
}

#modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-content {
    margin: auto;
    padding: 20px;
    width: 50%;
    font-size: 50px;
    color: white;
}

.display-none {
    display: none;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.start-screen h1 {
    font-size: 50px;
    color: white;
}

.icon-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    font-size: 50px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    animation: fadeIn 5s;
    transition: all ease-in-out 0.2s;
}

.icon:hover {
    transform: scale(1.20);
    color: #f8ff73;
}

.text-drop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-drop h1 {
    font-size: 70px;
}

#B {
    animation: drop 0.4s linear forwards 1s;
    opacity: 0;
    color: var(--color-1);
}
#l {
    animation: drop 0.4s linear forwards 1.2s;
    opacity: 0;
    color: var(--color-2);
}
#o {
    animation: drop 0.4s linear forwards 1.4s;
    opacity: 0;
    color: var(--color-3);
}
#c {
    animation: drop 0.4s linear forwards 1.6s;
    opacity: 0;
    color: var(--color-4);
}
#k {
    animation: drop 0.4s linear forwards 1.8s;
    opacity: 0;
    margin-right: 20px;
    color: var(--color-5);
}

#D {
    animation: drop 0.4s linear forwards 2s;
    opacity: 0;
    color: var(--color-6);
}
#r {
    animation: drop 0.4s linear forwards 2.2s;
    opacity: 0;
    color: var(--color-7);
}
#o2 {
    animation: drop 0.4s linear forwards 2.4s;
    opacity: 0;
    color: var(--color-1);
}
#p {
    animation: drop 0.4s linear forwards 2.6s;
    opacity: 0;
    margin-right: 20px;
    color: var(--color-2);
}

#G {
    animation: drop 0.4s linear forwards 2.8s;
    opacity: 0;
    color: var(--color-3);
}
#a {
    animation: drop 0.4s linear forwards 3s;
    opacity: 0;
    color: var(--color-4);
}
#m {
    animation: drop 0.4s linear forwards 3.2s;
    opacity: 0;
    color: var(--color-5);
}
#e {
    animation: drop 0.4s linear forwards 3.4s;
    opacity: 0;
    color: var(--color-6);
}

@keyframes drop {
    0% {transform: translateY(-400px) scaleY(0.9); opacity: 0;}
    5% {opacity: .7;}
    50% {transform: translateY(0px) scaleY(1); opacity: 1;}
    65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
    75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
    100% {transform: translateY(0px) scaleY(1); opacity: 1;}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}